<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet">
</head>
	 
<body>

	<div class="container white z-depth-2">
	<ul class="tabs teal">
		<li class="tab col"><a class="white-text" href="#register">register</a></li>
	</ul>
	
	<div id="register" class="col s12">
		<form  action="/register" method="post" class="col s12">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s12">
						<input id="last_name" type="text" class="validate" name="name" placeholder="Name">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" class="validate" name="username" placeholder="Username">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" name="password" placeholder="Password">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password-confirm" type="text" class="validate" name="tags" placeholder="enter tags">
					</div>
				</div>

				<center>

				<div class="row">
					<div class="col s6">
					<div class="input-field col s12">
						<input id="Z" type="checkbox" class="filled-in">
						<label for="Z">Z</label>
					</div>
					</div>
					<div class="col s6">
					<div class="input-field col s12">
						<input id="A" type="checkbox" class="filled-in">
						<label for="A">A</label>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
					<div class="input-field col s12">
						<input id="B" type="checkbox" class="filled-in">
						<label for="B">B</label>
					</div>
					</div>
					<div class="col s6">
					<div class="input-field col s12">
						<input id="C" type="checkbox" class="filled-in">
						<label for="C">C</label>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
					<div class="input-field col s12">
						<input id="D" type="checkbox" class="filled-in">
						<label for="D">D</label>
					</div>
					</div>
					<div class="col s6">
					<div class="input-field col s12">
						<input id="E" type="checkbox" class="filled-in">
						<label for="E">E</label>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
					<div class="input-field col s12">
						<input id="F" type="checkbox" class="filled-in">
						<label for="F">F</label>
					</div>
					</div>
					<div class="col s6">
					<div class="input-field col s12">
						<input id="G" type="checkbox" class="filled-in">
						<label for="G">G</label>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
					<div class="input-field col s12">
						<input id="H" type="checkbox" class="filled-in">
						<label for="H">H</label>
					</div>
					</div>
					<div class="col s6">
					<div class="input-field col s12">
						<input id="others" type="text" class="validate">
						<label for="others">Others</label>
					</div>
				</div>
					</div>
				</center>
				</br>
				<center>
					<div class="row">
					<button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
					</div>
				</center>
			</div>
		</form>
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"/>
</body>
</html>

